version: "3.8"

services:
  backend:
    build:
      context: ./backend-flask
    ports:
      - "4567:4567"

  frontend:
    build:
      context: ./frontend-react-js
    ports:
      - "3001:3000"
    environment:
      - CHOKIDAR_USEPOLLING=true


